.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chekcoutproduct-info{
    padding-left: 20px;

}

.botoncillo{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #846a29;
    color: #111;
}

.contenedorimagen{
    width: 180px;
    height: 180px;
}

.checkout-product-img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutproduct-rating {
    display: flex;
}

.chekcoutproduct-title {
    font-size: 17px;
    font-weight: 800;
}